body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.header{
  margin-top: 10px;
}

.container {
  margin: 30px auto;
  width: 100%;
}


h1 {
  letter-spacing: 1px;
  /* margin: 0; */
}
